<IfModule mod_rewrite.so>
RewriteEngine On


#RewriteBase http://localhost/~Pinchia/REST-API

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L,R]

</IfModule>